
@media (max-width: 575px) {
  /* ---------------------------------------------------{NAVBAR}--------------------------------------------------------------------------- */
  #navbar ul li {
    margin: 14px auto !important;
    width: fit-content !important;
  }
  /* ---------------------------------------------------{HOME}--------------------------------------------------------------------------- */
  #home h1 {
    font-size: 1.5625rem;
  }
  #home h1 .h-p {
    font-size: 1.5625rem;
  }
  #about .sep {
    height: 40px;
    width: 100%;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 576px) and (max-width: 767px) {
  /* ---------------------------------------------------{NAVBAR}--------------------------------------------------------------------------- */
  #navbar ul li {
    margin: 14px auto !important;
    width: fit-content !important;
  }
  /* ---------------------------------------------------{HOME}--------------------------------------------------------------------------- */
  #about .sep {
    height: 40px;
    width: 100%;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (min-width: 768px) and (max-width: 991px) {
  /* ---------------------------------------------------{NAVBAR}--------------------------------------------------------------------------- */
  #navbar ul li {
    margin: 14px auto !important;
    width: fit-content !important;
  }
  /* ---------------------------------------------------{HOME}--------------------------------------------------------------------------- */
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 992px) and (max-width: 1199px) {
  /* ---------------------------------------------------{HOME}--------------------------------------------------------------------------- */
  #about .sep {
    display: none;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (min-width: 1199px) {
  .container {
    max-width: 1235px;
  }
  /* ---------------------------------------------------{HOME}--------------------------------------------------------------------------- */
  #about .sep {
    display: none;
  }
}


